{# /templates/proposals/_entry.twig #}

{% extends '_layout' %}

{% block content %}

  <h1>{{ entry.title }}</h1>

  <p>Project ID: {{ entry.projectId }}</p>

  <article>
    {# set client = user selected entry category #}
    {% set client = craft.categories.relatedTo(entry).one() %}

    {# set contact = first contact listed in client entry #}
    {% set contact = client.contacts.one() %}

    {# set address = first address listed in client entry #}
    {% set address = client.addresses.one() %}

    {% set suffixes = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X'] %}

    {# TODO: add ideabase logo at top of proposal #}
    {# TODO: checkbox for glyphix logo #}

    {# proposal header #}
    <h1>Proposal of Engagement</h1>

    <div>
      <p>For: <a href="{{  client.url }}" alt="{{  client.title }}">{{  client.title }}{% if client.organization|length %}&nbsp;&sol;&nbsp;{{  client.organization }}{% endif %}</a></p>

      {# IMPORTANT: UPDATE 'clients/_category' AS WELL IF YOU CHANGE HOW CONTACT NAMES ARE DISPLAYED #}
      <p>To:&nbsp;
        {%- if contact.prefix|length %}
          {{-  contact.prefix -}}&nbsp;
        {%- endif -%}
        {{-  contact.firstName -}}&nbsp;
        {{-  contact.lastName -}}
        {%- if contact.suffix|length -%}
          {%- if contact.suffix|upper in suffixes -%}
            &nbsp;{{-  contact.suffix -}}&nbsp;
          {%- else -%}
            &comma;&nbsp;{{-  contact.suffix -}}&nbsp;
          {%- endif -%}
        {%- endif -%}
        {%- if contact.contactTitle|length -%}
          &sol;&nbsp;{{-  contact.contactTitle -}}
        {%- endif -%}</p>

      <p>From: IdeaBase, a Research-Based Design Agency at Kent State University</p>

      <p>Date:&nbsp;{{ entry.date }}</p>
    </div>

    {# thank you note global #}
    <div>
      {% include 'proposals/_thank_you' %}
    </div>

    {# working with IdeaBase global #}
    <div>
      <h2>Working with IdeaBase</h2>

      {{ proposalWorking.redactor }}
    </div>

    {# project scope #}
    <div>
      <h2>Scope of Work</h2>

      {# extensive project description (situation) #}
      {% if entry.situation|length %}
        <h3>Situation:</h3>
        <div>
          {{ entry.situation }}
        </div>
      {% endif %}

      {# proposed project elements #}
      <h3>Proposed Project Elements and Associated Estimates:</h3>
      {# set variable to increment total cost as project elements are added #}
      {% set totalPrice, singleElementHours = 0, 0 %}

      {% for block in entry.elements.all() %}
        {% set singleElementHours = block.estimatedHours %}
        {{ block.description }}
        <table>
          <tr>
            <td>{{ singleElementHours }}</td>
            <td>{{ entry.pricePerHour.value|currency('USD', [], [], true) }}</td>
          </tr>
        </table>
        {% set totalPrice = totalPrice + (singleElementHours * entry.pricePerHour.value) %}
      {% endfor %}

      {# suggested timeline #}
      {% if entry.timeline|length %}
        <div>
          <h3>Suggested Timeline</h3>

          <table>
            {% for row in entry.timeline %}
              <tr>
                <td>{{ row.description }}</td>
                <td>{{ row.time }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}

      {# TODO: discounts for total cost #}

      {# display total cost #}
      <table>
        <tr>
          {% if entry.elements.all()|length > 1 %}<td>ESTIMATED TOTAL</td>{% else %}ESTIMATED TOTAL ({{ singleElementHours }} hours at {{ entry.pricePerHour.value|currency('USD', [], [], true) }}/hour){% endif %}
          <td>{{ totalPrice|currency('USD', [], [], true) }}</td>
        </tr>
      </table>
    </div>

    {# TODO: allowance for client revisions #}
    {# default allow 2-3 client revisions #}

    {# TODO: estimate includes print coordination, not printing costs #}

    {# TODO: signature field #}

    {# terms and conditions global#}
    <div>
      <h2>Terms and Conditions</h2>

      {{ proposalTerms.redactor }}
    </div>
  </article>

{% endblock %}
{# end content block #}
