{# /templates/proposals/_entry.twig #}

{% extends '_layout' %}

{# set client = user selected entry category #}
{% set client = craft.categories.relatedTo(entry).one() %}

{# set contact = first contact listed in client category #}
{% set contact = client.contacts.one() %}

{# set address = first address listed in client category #}
{% set address = client.addresses.one() %}

{% set suffixes = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X'] %}

{% block content %}

  <h1>{{ entry.title }}</h1>

  {% if entry.projectId|length %}
    <p>Project ID: {{ entry.projectId }}</p>
  {% endif %}

  <input type="button" onclick="printDiv('printArea')" value="Print PDF">

  {# start proposal document #}
  <article id="printArea">

    <div style="display:flex;flex-direction:row;">
      <div style="flex:1;">
        <img src="{{ ideabaseLogo.image.one().getUrl }}" alt="{{ ideabaseLogo.imageAlt }}"{% if ideabaseLogo.imageTitle|length %} title="{{ ideabaseLogo.imageTitle }}"{% endif %} style="height:100%;">
      </div>

      {% if entry.projectType.options[1].selected %}
        <div style="flex:1;">
          <img src="{{ glyphixLogo.image.one().getUrl }}" alt="{{ glyphixLogo.imageAlt }}"{% if glyphixLogo.imageTitle|length %} title="{{ glyphixLogo.imageTitle }}"{% endif %}>
        </div>
      {% endif %}
    </div>

    {# proposal header #}
    <h1>Proposal of Engagement</h1>

    <div>
      <p>For: <a href="{{  client.url }}" alt="{{  client.title }}">{{  client.title }}{% if client.organization|length %}&nbsp;&sol;&nbsp;{{  client.organization }}{% endif %}</a></p>

      {# IMPORTANT: UPDATE 'clients/_category' AS WELL IF YOU CHANGE HOW CONTACT NAMES ARE DISPLAYED #}
      <p>To:&nbsp;
        {%- if contact.prefix|length -%}
          {{-  contact.prefix -}}&nbsp;
        {%- endif -%}
        {{-  contact.firstName -}}&nbsp;
        {{-  contact.lastName -}}
        {%- if contact.suffix|length -%}
          {%- if contact.suffix|upper in suffixes -%}
            &nbsp;{{-  contact.suffix -}}&nbsp;
          {%- else -%}
            &comma;&nbsp;{{-  contact.suffix -}}&nbsp;
          {%- endif -%}
        {%- endif -%}
        {%- if contact.contactTitle|length -%}
          &sol;&nbsp;{{-  contact.contactTitle -}}
        {%- endif -%}</p>

      <p>From: IdeaBase, a Research-Based Design Agency at Kent State University</p>

      <p>Date:&nbsp;{{ entry.date }}</p>
    </div>

    {# thank you note #}
    <div>
      <p>Thank you for engaging IdeaBase to prepare a quotation for {{ client.title }}, {{ address.address1 }}{% if address.address2 is not empty %}, {{ address.address2 }}{% endif %}, {{ address.city }} {{ address.state|upper }} {{ address.zipCode }}. IdeaBase is an initiative within the College of Communication and Information at Kent State University. This Proposal of Engagement will outline the scope of our engagement and the projected hours and costs associated with its completion.</p>
    </div>

    {# proposal contact global #}
    <div>
      {{ proposalContact.redactor }}
    </div>

    {# working with IdeaBase global #}
    <div>
      {{ proposalWorking.redactor }}
    </div>

    {# project scope #}
    {% if entry.situation|length %}
      <div>
        <h2>Scope of Work</h2>

        {# extensive project description (situation) #}
        <h3>Situation:</h3>
        {{ entry.situation }}
      </div>
    {% endif %}

    {# proposed project elements #}
    <div>
      <h2>Proposed Project Elements and Associated Estimates:</h2>
      {# set variable to increment total cost as project elements are added #}
      {% set totalCost, singleElementHours = 0, 0 %}

      {% for block in entry.elements.all() %}
        {% set singleElementHours = block.estimatedHours %}
        {{ block.description }}
        <table>
          <tr>
            <td>{{ singleElementHours }}</td>
            <td>{{ entry.pricePerHour.value|currency('USD', [], [], true) }}</td>
          </tr>
        </table>
        {% set totalCost = totalCost + (singleElementHours * entry.pricePerHour.value) %}
      {% endfor %}
    </div>

    {# suggested timeline #}
    {% if entry.timeline|length %}
      <div>
        <h2>Suggested Timeline</h2>

        <table>
          {% for row in entry.timeline %}
            <tr>
              <td>{{ row.description }}</td>
              <td>{{ row.time }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}

    {# display total cost #}
    <div>
      <table>
        {% if entry.discount|length %}
          <tr>
            <td>{% if entry.elements.all()|length > 1 %}ESTIMATED TOTAL{% else %}ESTIMATED TOTAL ({{ singleElementHours }} hours at {{ entry.pricePerHour.value|currency('USD', [], [], true) }}/hour){% endif %}</td>
            <td>{{ (totalCost)|currency('USD', [], [], true) }}</td>
          </tr>
          <tr>
            <td>Discount ({{ entry.discount }} hours at {{ entry.pricePerHour.value|currency('USD', [], [], true) }}/hour)</td>
            <td>{{ (entry.discount * entry.pricePerHour.value)|currency('USD', [], [], true) }}
          </tr>
          {% set totalCost = totalCost - (entry.discount * entry.pricePerHour.value) %}
          <tr>
            <td>{% if entry.elements.all()|length > 1 %}ESTIMATED & DISCOUNTED TOTAL{% else %}ESTIMATED & DISCOUNTED TOTAL ({{ singleElementHours - entry.discount }} hours at {{ entry.pricePerHour.value|currency('USD', [], [], true) }}/hour){% endif %}</td>
            <td>{{ (totalCost)|currency('USD', [], [], true) }}</td>
          </tr>
        {% else %}
          <tr>
            <td>{% if entry.elements.all()|length > 1 %}ESTIMATED TOTAL{% else %}ESTIMATED TOTAL ({{ singleElementHours }} hours at {{ entry.pricePerHour.value|currency('USD', [], [], true) }}/hour){% endif %}</td>
            <td>{{ totalCost|currency('USD', [], [], true) }}</td>
          </tr>
        {% endif %}
      </table>
    </div>

    {# additional costs #}
    {% if entry.additionalCosts|length %}
      <h2>Additional Costs</h2>

      <div>
        <table>
          {% for row in entry.additionalCosts %}
            <tr>
              <td>{{ row.description }}</td>
              <td>{{ row.estimatedCost }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}

    {# printing costs #}
    {% if entry.printingCosts|length %}
      <div>
        <p>Please note this estimate includes print coordination only, not actual printing costs.</p>
      </div>
    {% endif %}

    {# allowance for client revisions #}
    {% if entry.clientRevisions|length %}
      <div>
        <p>Please note this estimate allows for 2-3 client revisions. If more than 2-3 sets of client revisions are needed, additional hours will be added to the final invoice.</p>
      </div>
    {% endif %}

    {# proposal agreement global #}
    <div>
      {{ proposalAgreement.redactor }}
    </div>

    {# TODO: signature field #}

    {# proposal contact global #}
    <div>
      {{ proposalContact.redactor }}
    </div>

    {# terms and conditions global #}
    <div>
      {{ proposalTerms.redactor }}
    </div>
  </article>
  {# end proposal document #}

{% endblock %}
{# end content block #}
