{% spaceless %}

{#
 # Layout template
 # ---------------
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }}&nbsp;-&nbsp;{% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

  {# Render Favicons #}
	{% include '_includes/favicons' %}

  {# Begin Critical CSS #}
  <style rel="stylesheet" type="text/css">
		{% include '_includes/critical.css' %}
  </style>

	{# TODO: remove once styling is figured out #}
	<link href="https://www.ideabasekent.com/css/styles.css" type="text/css" rel="stylesheet" media="screen, projection, print"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700%7CSource+Sans+Pro:600,700,400,400italic,300" media="all">

	<link href="{{ siteUrl }}assets/css/style.css" type="text/css" rel="stylesheet" media="screen, projection, print"/>

	{# block search indexing #}
	<meta name="robots" content="noindex">

	{# template head elements #}
	{% block head %}
	{% endblock %}
</head>

<body>

	{# Include header #}
  {% include '_includes/header' %}

	{# allow extensions of main in content block #}
	<main role="main">
		{% block content %}
		{% endblock %}
	</main>

	{# Include footer #}
	{% include '_includes/footer' %}

	{% block scripts %}
	{% endblock %}

  <script type="text/javascript" src="{{ siteUrl }}assets/js/min/scripts-min.js"></script>

  {# Google Analytics Code - don't forget to change the UA ID #}
  <script>
    (function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() { (i[r].q = i[r].q || []).push(arguments) },
			i[r].l = 1 * new Date();
			a = s.createElement(o),
  		m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '{{ siteUrl }}assets/js/min/analytics.js', 'ga');
		ga('create', 'UA-########-#', 'auto');
		ga('send', 'pageview');
  </script>

  {% if craft.app.config.general.devMode %}
	  {# Live Reload - For local environment only #}
	  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}

</body>
</html>

{% endspaceless %}
